.logo {
    background-color: var(--cv-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);

}

.logo img {
    padding: 0px 15px;
    height: 50px;
}
