

.main {
    height: 500px;
    width: 350px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.header {
    height: 200px;
    border-radius: 5px 5px 0 0;
    background-color: #f5874f;
    border-bottom: 5px solid #fff;
}

.profilePicture{
   
    height: 170px;
    width: 170px;
    border-radius: 85px;
    border: 5px solid #fff;
}

.profilePicRow {
    position: relative;
    top: -85px;
    display: flex;
    justify-content: center;
}

.body{
    position: relative;
    top: -85px;
}


@media (max-width: 850px) {

    .main {
        height: 350px;
        width: 250px;
        border: 1px solid #fff;
        border-radius: 5px;
    }

    .header {
        height: 125px;
        border-radius: 5px 5px 0 0;
        background-color: #f5874f;
        border-bottom: 5px solid #fff;
    }

    .profilePicture{   
        height: 100px;
        width: 100px;
        border-radius: 100px;
        border: 3px solid #fff;
    }

    .profilePicRow {
        position: relative;
        top: -50px;
        display: flex;
        justify-content: center;
    }

    .body{
        position: relative;
        top: -50px;
    }
   
}