.container {
    // display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Altura mínima de 100% da viewport */
    width: 100vw;
    /* Largura total da viewport */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url('/bgLogin.png');
    overflow-y: auto;
    overflow-x: hidden;
    z-index: -1;
}