.headerPosition {
    background-color: var(--cv-primary);
    position: fixed !important;
    top: 0;
    left: 0;
    height: var(--header-height);
    // z-index: 1001;
    transition: all .5s;
}

.sidebarToggle {
    color: var(--gray-light);
    transition: color 0.1s ease-out;
}

.sidebarToggle:hover {
    color: var(--white);
}



.logo{
    padding: 0px 15px;
    height: calc(var(--header-height) * 0.5);
}


.header {
    height: var(--header-height);
    background-color: var(--cv-primary);

}

.configIcons{
    position: fixed;
    right: 0;

}