.ctm-bg-primary {
	background-color: var(--color-primary);
}

.ctm-bg-secondary {
	background-color: var(--color-secondary);
}

.ctm-bg-tertiary {
	background-color: var(--color-tertiary);
}

.ctm-bg-success {
	background-color: var(--color-success);
}

.ctm-bg-danger {
	background-color: var(--color-danger);
}

.ctm-bg-warning {
	background-color: var(--color-warning);
}